<meta charset="UTF-8">

<!-- left 导航  -->
<div class="layui-side layui-bg-black" id="left_menu" style="top: 60px; ">
    <div class="layui-side-scroll">

        <ul class="layui-nav layui-nav-tree" lay-filter="left_menu">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">用户</a>
                <dl class="layui-nav-child">
                    <dd dd_text="你妈死了" type="0" url="http://www.baidu.com" id="111"><a href="#"><i class="layui-icon"></i>&nbsp; 你妈死了</a></dd>
                    <dd dd_text="我日你妈" type="0" url="http://www.taobao.com" id="222"><a href="#"><i class="layui-icon"></i>&nbsp; 我日你妈</a></dd>
                </dl>
            </li>
        </ul>
    </div>

</div>
<!-- left 导航 结束 div -->