<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <div th:include="/common/layui"></div>
    <div th:include="/common/jq"></div>
    <style>
        .layui-form-item {
            margin-bottom: 3px;
        }
    </style>

</head>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        if ("[[${book?.bookType?.id}]]" != "null") {
            $("#bookTypeId").val([[${user?.bookType?.id}]]);
        }
    });

    var save_url = [[${save_url}]];

    function save() {
        var index = layer.msg('提交中，请稍候', {
            icon: 16,
            time: false,
            shade: 0.8
        });
        // 此处input id 对应拿到值
        var name = $("#name").val();
        var trueName = $("#trueName").val();
        var remark = $("#remark").val();
        var pwd = $("#pwd").val();
        var orderNo = $("#orderNo").val();
        var roleId = $("#roleId").val();
        console.log(save_url);

        $.post(save_url, {
            name: name, trueName: trueName, remark: remark, pwd: pwd, orderNo: orderNo, 'role.id': roleId
        }, function (result) {
            if (result.success) {
                window.parent.closeDlg(result.msg);
            } else {
                layer.msg(result.msg);
            }
        }, 'json');
    }

    /*]]>*/
</script>
<body id="app">
<div style="padding: 10px;" class="layui-form layui-form-pane" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input type="text" name="orderNo" id="orderNo" th:value="${book?.orderNo}" autocomplete="off"
                   placeholder="请输入 排序号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图书名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" id="name" th:value="${book?.name}" autocomplete="off"
                   placeholder="请输入 图书名称" class="layui-input">
        </div>
    </div>
    <div  class="layui-form-item">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-block">
            <input type="test" name="author" id="author" th:value="${book?.author}" autocomplete="off"
                   placeholder="请输入 作者" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出版社</label>
        <div class="layui-input-block">
            <input type="text" name="press" id="press" th:value="${book?.press}" autocomplete="off"
                   placeholder="请输入 出版社" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图书类型</label>
        <div class="layui-input-block">
            <select id="roleId" name="interest" lay-filter="aihao">
                <option th:value="${bookType.id}" th:text="${bookType.name}" th:each="bookType:${bookTypeList}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单价</label>
        <div class="layui-input-block">
            <input type="text" name="price" id="price" th:value="${book?.price}" autocomplete="off"
                   placeholder="请输入 单价" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" th:text="${btn_text}" lay-submit="" lay-filter="demo1"
                    onclick="save()"></button>
        </div>
    </div>
</div>
</body>
<script th:inline="none">
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload',
        'element'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element; //元素操作

    });
</script>
</html>